@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #202142;
  color: #fff;
  line-height: 1.6;
}

ul {
  list-style: none;
}


.container {
  max-width: 700px;
  margin-top: 120px;
  margin-left: 380px;
  margin-bottom: 0;
  padding: 0 20px;
  overflow-y: hidden;

}

.text {
  margin-left: 50px;
}

.text h1 {
  font-size: 3rem;
}

.text p {
  font-size: 1.3rem;
}

.cardbox {
  margin-top: 0;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  height: 90vh;
  align-items: center;
  margin-bottom: 30px;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 10px 0 15px 0;
  position: relative;
  font-size: 13px;
  text-align: center;
}

.card.reverse {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.card h2 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0 40px;
}

.rating li,
.num-display {
  position: relative;
  background: #f4f4f4;
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 19px;
  border: 1px #eee solid;
  transition: 0.3s;
}

.rating li label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.rating li:hover,
.num-display {
  background: #ff6a95;
  color: #fff;
}

[type='radio'] {
  opacity: 0;
}

[type='radio']:checked~label {
  background: #ff6a95;
  color: #fff;
}

.input-group {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  align-content: center;
}

input {
  flex-grow: 2;
  border: none;
  font-size: 13px;
  text-align: center;
  padding: 10px 0;
}

.services {
  background-image: url('../public/bkg1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-overflow: ellipsis;
}

.feedback-stats {
  margin-top: 30px;
}

.feedback-stats h4 {
  border: 1px solid rgb(250, 133, 49);
  border-radius: 7px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  padding: 10px;
}

.num-display {
  position: absolute;
  top: -10px;
  left: -10px;
}

.close,
.edit {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
}

.edit {
  right: 40px;
}

.btn-primary {
  background-color: rgb(250, 133, 49);
  color: #202142;
  width: 80px;
  border-radius: 7px;
  border: none;
}

.submit {
  margin-left: 290px;
  padding: 7px;
  border: none;
}

.btn-secondary {
  background: #ff6a95;
}

.btn:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

.btn:disabled {
  background-color: #cccccc;
  color: #333;
  cursor: auto;
}

.btn:disabled:hover {
  transform: scale(1);
  opacity: 1;
}

.message {
  padding-top: 5px;
  text-align: center;
  color: rebeccapurple;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.845);
}

.modal {
  margin-top: 15%;
  margin-left: 28%;
  width: 90%;
  height: 50vh;
  max-width: 41rem;
  background-color: white;
  border-radius: 1.5rem;
  color: purple;
}

.close-btn {
  margin-top: 20px;
  margin-left: 600px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
}

.title {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.msg {
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: rgb(235, 223, 223);
  font-size: 1rem;
}

.msg b {
  color: red;
}

.response {
  font-size: 0.8rem;
  line-height: 25px;
  color: red;
}

p.data {
  overflow-y: scroll;
  font-size: 0.9rem;
  display: flex;
  padding-right: 30px;
  justify-content: center;
  align-items: center;
  padding-left: 35px;
  line-height: 30px;
}

.about-link {
  display: flex;
  justify-content: flex-end;
}